@import url("../styles/general.css");

.padding {
    height: 20%;
}

#pots-title {
    width: 100%;
    height: 15%;
}

#free-income {
    width: 100%;
    height: 15%;
    font-size: 2em;

    color: white;
    background-color: var(--prim-purp);
}

.pot-entry {
    margin: 0.6em 0;
    height: 10%;

    display: grid;
    grid-template-columns: 2.5% 20% 5% 40% 5% 25% 2.5%;
    grid-template-rows: 2.5% 95% 2.5%;
    background-color: #DDD;
}

.pot-entry * {
    grid-row: 2 / 3;
    height: 100%;
}

.pot-entry span { grid-column: 2 / 3; }
.pot-entry div.center-child { grid-column: 4 / 5; font-size: 1.1em; }
.pot-entry span.balance { grid-column: 6 / 7; }
